doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/icon.ico">
    <title>Обратная связь</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
  </head>

  <body class="text-center">

<div class="loading-wrap">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
  <div class="triangle3"></div>
</div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><font face="Gabriola"> Красивые места</font></h3>
          <nav class="nav nav-masthead justify-content-center">
			<a class="nav-link" href="/">Главная</a>
            <a class="nav-link" href="/gallery">Галерея</a>
            <a class="nav-link" href="/maps">На карте</a>
			<a class="nav-link active" href="/feedback">Связаться с нами</a>
          </nav>
        </div>
      </header>


    <section class="body">
	<form>
		<label>ФИО</label>
		<input name="name" placeholder="Фамилия Имя Отчество">

		<label>Email</label>
		<input name="email" type="email" placeholder="Email адресс">

		<label>Сообщение</label>
		<textarea name="message" placeholder="Введите ваше сообщение"></textarea>

		<input id="submit" name="submit" type="submit" value="Отправить">

	</form>
    </section>


      <footer class="mastfoot mt-auto">
        <div class="inner">
			<br>
          <p>GreatPlace</a></p>
        </div>
      </footer>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </body>
</html>
